<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Categorias </title>
    <link rel="stylesheet" href="../static/css/categoria.css">
</head>

<body>

    <div class="interface">
        <header>
            <img class="logo" src="../static/img/logo/Blue Black Modern Simple Design Hotel and Resort Logo - Logos.png" alt="Logo da sua empresa">
        </header>

        <nav>
            <div class="navbar">
                <ul>
                    <li> <a href="../index.html"> Página Inicial </a> </li>
                    <li> <a href="sobre.html"> Sobre Nós </a> </li>
                </ul>
            </div>
        </nav>

        <section>
            <div class="content">
                <h1> -Categorias- </h1>

                <div class="text">
                    <p> Busque pelo seu catalogo favorito e assiste o seu filme com melhor conforto!!!! </p>
                </div>

                <div class="categorias">
                    <h2> Ação </h2>
                    <div class="acao">
                        <img src="../static/img/acao/jhon.jpg" alt="mib-internacional">
                        <figcaption>
                            <strong>Filme: Homem-Aranha: Sem Volta Pra Casa</strong><br>
                            <span>Gênero: Ação, Aventura, Fantasia</span><br>
                            <span>Duração: 2h 28min</span><br>
                            <span>Ano: 2021</span>
                        </figcaption>

                        <img src="../static/img/acao/preço fixo.jpg" alt="cidade-perdida">
                        <figcaption>
                            <strong>Filme: Homem-Aranha: Sem Volta Pra Casa</strong><br>
                            <span>Gênero: Ação, Aventura, Fantasia</span><br>
                            <span>Duração: 2h 28min</span><br>
                            <span>Ano: 2021</span>
                        </figcaption>

                        <img src="../static/img/acao/resgate.jpg" alt="a-chamada">
                        <figcaption>
                            <strong>Filme: Homem-Aranha: Sem Volta Pra Casa</strong><br>
                            <span>Gênero: Ação, Aventura, Fantasia</span><br>
                            <span>Duração: 2h 28min</span><br>
                            <span>Ano: 2021</span>
                        </figcaption>
                        
                        <img src="../static/img/acao/resgate.jpg" alt="a-chamada">
                        <figcaption>
                            <strong>Filme: Homem-Aranha: Sem Volta Pra Casa</strong><br>
                            <span>Gênero: Ação, Aventura, Fantasia</span><br>
                            <span>Duração: 2h 28min</span><br>
                            <span>Ano: 2021</span>
                        </figcaption>

                        <a href=""> Ver mais </a>
                    </div>

                    <h2> Suspense </h2>
                    <div class="suspense">
                        <img src="../static/img/suspense/ela.jpg" alt="a-hora-do-desespero">
                        <figcaption>
                            <strong>Filme: Homem-Aranha: Sem Volta Pra Casa</strong><br>
                            <span>Gênero: Ação, Aventura, Fantasia</span><br>
                            <span>Duração: 2h 28min</span><br>
                            <span>Ano: 2021</span>
                        </figcaption>

                        <img src="../static/img/suspense/hora.jpg" alt="ilha-do-medo">
                        <figcaption>
                            <strong>Filme: Homem-Aranha: Sem Volta Pra Casa</strong><br>
                            <span>Gênero: Ação, Aventura, Fantasia</span><br>
                            <span>Duração: 2h 28min</span><br>
                            <span>Ano: 2021</span>
                        </figcaption>

                        <img src="../static/img/suspense/ilha.jpg" alt="panico">
                        <figcaption>
                            <strong>Filme: Homem-Aranha: Sem Volta Pra Casa</strong><br>
                            <span>Gênero: Ação, Aventura, Fantasia</span><br>
                            <span>Duração: 2h 28min</span><br>
                            <span>Ano: 2021</span>
                        </figcaption>

                        <a href=""> Ver mais </a>
                    </div>

                    <h2> Terror </h2>
                    <div class="terror">
                        <img src="../static/img/terror/panico.jpg" alt="a-luz-do-demonio">
                        <figcaption>
                            <strong>Filme: Homem-Aranha: Sem Volta Pra Casa</strong><br>
                            <span>Gênero: Ação, Aventura, Fantasia</span><br>
                            <span>Duração: 2h 28min</span><br>
                            <span>Ano: 2021</span>
                        </figcaption>

                        <img src="../static/img/terror/morte.png" alt="maligno">
                        <figcaption>
                            <strong>Filme: Homem-Aranha: Sem Volta Pra Casa</strong><br>
                            <span>Gênero: Ação, Aventura, Fantasia</span><br>
                            <span>Duração: 2h 28min</span><br>
                            <span>Ano: 2021</span>
                        </figcaption>

                        <img src="../static/img/terror/escape.png" alt="ju-on">
                        <figcaption>
                            <strong>Filme: Homem-Aranha: Sem Volta Pra Casa</strong><br>
                            <span>Gênero: Ação, Aventura, Fantasia</span><br>
                            <span>Duração: 2h 28min</span><br>
                            <span>Ano: 2021</span>
                        </figcaption>

                        <a href=""> Ver mais </a>
                    </div>

                    <h2> Drama </h2>
                    <div class="drama">
                        <img src="../static/img/drama/baleia.webp" alt="elizabeth">
                        <img src="../static/img/drama/estrela.jpg" alt="algum-lugar-especial">
                        <img src="../static/img/drama/pacto.webp" alt="verlust">
                        <a href=""> Ver mais </a>
                    </div>

                    <h2> Ficção </h2>
                    <div class="ficcao">
                        <img src="../static/img/ficcao/cargo.jpg" alt="de-volta-para-o-futuro-3">
                        <img src="../static/img/ficcao/insasao.jpg" alt="robocop">
                        <img src="../static/img/ficcao/no-limite-do-amanha-2-1.jpg" alt="avatar-2">
                        <a href=""> Ver mais </a>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="footer-content">
                <div class="card">
                    <p> Todos os direitos reservados. </p>
                </div>
            </div>
        </footer>

    </div>

</body>

</html>